<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smallur.feeds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationConfig"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.smallur.feeds.presentation.ActivityHome"/>
        <activity
            android:name=".presentation.views.post.details.ActivityPostDetails"
            android:theme="@style/AppThemeTranslucentStatus"/>
        <activity
            android:name="com.smallur.feeds.presentation.views.welcome.ActivityWelcome"
            android:theme="@style/AppBaseTheme.Support.TranslucentStatusBar.Welcome">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>/>
        </activity>
    </application>

</manifest>